<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700' rel='stylesheet' type='text/css">
    <link href='https://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSFR About</title>
    <meta name="description" content="Summit Street Family About">
  </head>

  <header>
  <body>
  <div>
    <img src="http://rwdkent.com/class/groups/assets/group2/summitst.svg" class="Logo"alt="Main Logo" title="header logo"/>

</div>

<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label">Menu</div>
</a>

<nav id="menu" role="navigation">
  <ul>
    <li> <a href="index.html">Home</a></li>
    <li> <a href="menu.html">Menu</a> </li>
    <li> <a href="about.html">About</a> </li>
  </ul>
</nav>

    </header>
    <main>

 <section class="hero-image">
    <div class="hero-image__container">
        <div class="hero-image__text">
            <h1>About Us</h1>
            <p>Learn More About our History.</p>
        </div>
    </div>
</section>
<div class= "About">
<h2>
  About Us
</h2>

<p>
  Since 1983, Summit St. Family Restaurant has been a favorite stop for families in the kent ohio area. Delicious food, low prices, convenience and a fun family atmosphere - that's Carmine's!
For the family on the move, Summit offers everything on our menu “To-go”. But we don't stop there - Summit also has a Drive-thru Pick-up Window! Call ahead with your order and we'll have your meal prepared hot & fresh, ready for you to swing by without ever getting out of your car!
	And because Summit St. is a Family Restaurant, senior citizens can take advantage of our 10% senior discount, and children 12 years old or younger can get their own Summit St. Club Card (kids meals at 50%,free soda refills & 50% kiddie ice cream cones)! Everyone can purchase a V.I.P. card and get free pizza's. For added convenience, ask about our Summit St. Gift Card, in any amount. Use your Gift Card instead of cash, or get one for someone special! For breakfast,lunch or dinner!
</p>
</div>
<div class= "Cattering">
<h2>
  Cattering
</h2>


<p>

Summit St. now Caters for any occasion!  Let Summit ST. plan your next event! Corporate,Graduations,Showers,Birthdays and even Backyard Parties.
Well do the heavy lifting,creating and preparing a unique menu tailored for your guests.
Leave the planning to us while you ENJOY YOUR PARTY!!
	At Summit St., we love being part of the community, and we love what we do - that's why we're Kent’s favorite family restaurant! Come visit us today!
</p>
</div>
</p>
</main>


<footer class="clearfix">

  <div class="address">

<dt> <h2> Address </h2></dt>
  <dd>671 Summit St.</dd>
  <dd>Kent, OH 44240</dd>
<dd>(330) 672-3031</dd>

</div>



  <div class="hours">

<dt> <h2> Hours </h2> </dt>
<dd>Sunday: 8am - 10pm</dd>
<dd>Monday-Saturday: 11am - 10pm</dd>
<dd>Sunday Breakfast: 8 am - Noon</td>
<dd>Breakfast take out only  7 am to 11 am</dd>

</div>

</footer>

        <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="javascript.js"></script>
  </body>
</html>
