<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700' rel='stylesheet' type='text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSFR About</title>
    <meta name="description" content="Summit Street Family About">
  </head>
<header>
  <body>
<div>
    <img src="http://rwdkent.com/class/groups/assets/group2/summitst.svg" class="Logo"alt="Main Logo" title="header logo"/>
</div>
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label">Menu</div>
</a>

<nav id="menu" role="navigation">
  <ul>
    <li> <a href="index.html">Home</a></li>
    <li> <a href="menu.html">Menu</a> </li>
    <li> <a href="about.html">About</a> </li>
  </ul>
</nav>
    </header>
    <main>
<h1> Breakfast </h1>
<li>Breakfast Pizza & Breakfast Sandwiches available Daily 7AM to 11AM </li>
<table>
<tbody>
<tr>
<td> <h4> Breakfast Pizza (12 Pc)</h4> </td>
<td> $11.95 </td>
<td> Scrambled eggs, White American, Mozzarella and Cheddar cheese. </td>
</tr>

<tr>
<td> <h4> Breakfast Sheet Pizza  (32 Pc)</h4> </td>
<td> $11.95 </td>
<td> Scrambled eggs, White American, Mozzarella and Cheddar cheese. </td>
</tr>

<tr>
<td> <h3> Breakfast Sandwiches</h3> </td>
<td> All Sandwiches made with 2 Fresh Eggs & Cheese, Served on a Fresh Baked Roll.</td>

</tr>

<tr>
<td> <h4> Breakfast Burrito Bowl </h4> </td>
<td> $4.95</td>
<td> Choice of Plain, Sausage, Bacon, Ham, or Veggie (Broccoli, Mushrooms, Onions, Peppers) w/ Scrambled Eggs, Potatoes, Cheddar Cheese. </td>
</tr>

<tr>
<td> <h4> Breakfast Sandwich with 2 Eggs & Cheese </h4> </td>
<td> $3.59</td>
</tr>

<tr>
<td> <h4> Breakfast Burrito </h4> </td>
<td> $2.95</td>
<td> Choice of Plain, Sausage, Bacon, Ham, or Veggie (Broccoli, Mushrooms, Onions, Peppers) w/ Scrambled Eggs, Potatoes, Cheddar Cheese. </td>
</tr>

</tbody>
</table>
</main>
<footer class="clearfix">

  <div class="address">

<dt> <h2> Address </h2></dt>
  <dd>671 Summit St.</dd>
  <dd>Kent, OH 44240</dd>
<dd>(330) 672-3031</dd>

</div>



  <div class="hours">

<dt> <h2> Hours </h2> </dt>
<dd>Sunday: 8am - 10pm</dd>
<dd>Monday-Saturday: 11am - 10pm</dd>
<dd>Sunday Breakfast: 8 am - Noon</td>
<dd>Breakfast take out only  7 am to 11 am</dd>

</div>

</footer>

        <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="javascript.js"></script>
</html>
