<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700' rel='stylesheet' type='text/css">
    <link href='https://fonts.googleapis.com/css?family=Karma:600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSFR Index</title>
    <meta name="description" content="Summit Street Family ">
  </head>
  <body>
<header>
<div>
  <img src="http://rwdkent.com/class/groups/assets/group2/summitst.svg" class="Logo"alt="Main Logo" title="header logo"/>
</div>
<a href="#menu" class="menu-link">
    <div class="menu-link__hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-link__label">Menu</div>
</a>

<nav id="menu" role="navigation">
  <ul>
    <li> <a href="index.html">Home</a></li>
    <li> <a href="menu.html">Menu</a> </li>
    <li> <a href="about.html">About</a> </li>
  </ul>
</nav>
</header>


<main>



  <h1> Daily Specials</h1>

    <img src="chalk/chalkboard" class="beer" alt="row of beer and a sandwitch" />

 <h2 class="daily"> Deal of the day </h2>
   <p class="daily">Chicken Avocado Salad or Sandwich $6.99/$5.95</p>


  <h2 class="daily"> Now Serving Rohrbach Craft Beers!</h2>
<ul class="daily">
  <li> Scotch Ale </li>
  <li> Highland Lager </li>
  <li>  Red Wing Ale </li>
  <li>Blueberry Ale </li>
  <li> Carmines Ale </li>
  <li> Pilsner </li>
 </ul>


</main>

<footer class="clearfix">

  <div class="address">

<dt> <h2> Address </h2></dt>
  <dd>671 Summit St.</dd>
  <dd>Kent, OH 44240</dd>
<dd>(330) 672-3031</dd>

</div>



  <div class="hours">

<dt> <h2> Hours </h2> </dt>
<dd>Sunday: 8am - 10pm</dd>
<dd>Monday-Saturday: 11am - 10pm</dd>
<dd>Sunday Breakfast: 8 am - Noon</td>
<dd>Breakfast take out only  7 am to 11 am</dd>

</div>

</footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="javascript.js"></script>
  </body>
</html>
