<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Karma:600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700' rel='stylesheet' type='text/css">
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSFR Menu</title>
    <meta name="description" content="Summit Street Family Menu">
  </head>
  <header>
  <body>
  <div>
    <img src="http://rwdkent.com/class/groups/assets/group2/summitst.svg" class="Logo"alt="Main Logo" title="header logo"/>
  </div>

  <a href="#menu" class="menu-link">
      <div class="menu-link__hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="menu-link__label">Menu</div>
  </a>

  <nav id="menu" role="navigation">
              <ul>
                <li> <a href="index.html">Home</a></li>
                <li> <a href="menu.html">Menu</a> </li>
                <li> <a href="about.html">About</a> </li>
              </ul>
  </nav>



    </header>
<main>

  <section class="menu-image">
     <div class="hero-image__container">
         <div class="hero-image__text">
           <h1>Menu</h1>
           <p>Select Your Meal</p>
       </div>
   </div>
 </section>

 <span></span>
 <span></span>
 <span></span>

<nav>
  <a href="breakfast.html">
   <section class="breakfast-image">
      <div class="menu-image__container">
          <div class="menu-image__text">
            <h1 class="breakfeast-button">Breakfast</h1>
            <p>7 A.M - 12 P.M.</p>
          </a>
  </nav>

        </div>
    </div>
    </section>

    <span></span>
    <span></span>
    <span></span>

    <section class="lunch-image">
       <div class="menu-image__container">
           <div class="menu-image__text">
             <h1>Lunch</h1>
             <p>12 P.M. - 5 P.M.</p>
         </div>
     </div>
     </section>

     <span></span>
     <span></span>
     <span></span>

     <section class="dinner-image">
        <div class="menu-image__container">
            <div class="menu-image__text">
              <h1> Dinner </h1>
              <p>5 P.M. - 10 P.M.</p>
          </div>
      </div>
      </section>

      <span></span>
      <span></span>
      <span></span>

      <section class="dessert-image">
         <div class="menu-image__container">
             <div class="menu-image__text">
               <h1> Dessert </h1>
               <p>12 P.M. - 10 P.M. </p>
           </div>
       </div>
       </section>


</main>
    <footer class="clearfix">

      <div class="address">

    <dt> <h2> Address </h2></dt>
      <dd>671 Summit St.</dd>
      <dd>Kent, OH 44240</dd>
    <dd>(330) 672-3031</dd>

  </div>



      <div class="hours">

    <dt> <h2> Hours </h2> </dt>
    <dd>Sunday: 8am - 10pm</dd>
    <dd>Monday-Saturday: 11am - 10pm</dd>
    <dd>Sunday Breakfast: 8 am - Noon</td>
    <dd>Breakfast take out only  7 am to 11 am</dd>

  </div>

    </footer>

    </body>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="javascript.js"></script>
</html>
