<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Roboto:400,700' rel='stylesheet' type='text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSFR Menu</title>
    <meta name="description" content="Summit Street Family Menu">
  </head>
  <header>
  <body>
  <div>

<img src="Logo/summitst.svg" class="Logo"alt="Main Logo" title="header logo"/>
  </div>

  <a href="#menu" class="menu-link">
      <div class="menu-link__hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="menu-link__label">Menu</div>
  </a>

  <nav id="menu" role="navigation">
    <ul>
      <li> <a href="index.html">Home</a></li>
      <li> <a href="menu.html">Menu</a> </li>
      <li> <a href="about.html">About</a> </li>
    </ul>
  </nav>
    </header>
<main>

    <h1> Menu </h1>
    <ul>
      <li>  <h3> <a href="breakfast.html">Breakfast</a></h3> </li>

     <li><h3> Dinner </h3></li>

    <li>  <h3> Side Dishes </h3> </li>

      <li>  <h3> Kids Menu </h3> </li>

      <li>  <h3> Dessert </h3>  </li>
    </ul>

</main>

    <footer>
    <table>
      <tbody>
    <tr> Adress </tr>
      <td>
        671 Summit St.
      </td>
      <td>
        Kent, OH 44240
    </td>
    <td>
      (330) 672-3031
    </td>
    </tbody>
    </table>

    <table>
      <tbody>
    <tr> Hours </tr>
    <td>Sunday: 8am - 10pm</td>
    <td>Monday-Saturday: 11am - 10pm</td>
    <td>Sunday Breakfast: 8 am - Noon</td>
    <td>Breakfast take out only  7 am to 11 am</td>
    </tbody>
    </table>
    </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="javascript.js"></script>
</html>
